name: Publish

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 10.16.3

      - name: Publish to NPM
        run: |
          npm install
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
          npm run publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

